.footer{
    &__desktop{
    max-width: 1440px;
    width: 100%;
    height: 209px;
    object-fit: cover;
    position: absolute;
    z-index: 2;  
    }
    &__mobile{
        height: 209px;
        max-width: 400px;
        width: 100%;
        position: relative;
        z-index: 1;
        @media (max-width: 400px) {
            z-index: 3;
        }
    }
}