.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 209px;
    background: #000000;
    position: relative;
    z-index: 5;
    &__logo{
        width: 122px;
        height: 39px;
        margin-top: 66px;
    }
    & p{
        font-size: 24px;
        color: #FFFFFF;
        margin-top: 28px;
        @media (max-width: 650px) {
               font-size: 12px;
               width: 134px;
               text-align: center;
               margin-top: 17px;
                }
    }
}
