.banner{
    width: 1240px;
    height: 223px;
    margin: 0px 100px 43px 100px;
    position : relative; 
    display : inline-block; 
    & img{
        width: 1240px;
        height: 223px;
        border-radius: 25px;
        object-fit: cover;
    }
    h1{
        color: #FFF;
        font-size: 48px;
        display : block;
        position : absolute;
        top : 50px;
        left: 273px
    }
}