.banner{
    width: 1240px;
    height: 223px;
    margin: 0px 100px 0px 100px;
    position : relative; 
    & img{
        position: relative;
        z-index: 1;
        width: 1240px;
        height: 223px;
        border-radius: 25px;
        object-fit: cover;
    }
    &__overlay{
        position: absolute;
        z-index: 2;
        bottom: 0px;
        width: 1240px;
        height: 223px;
        border-radius: 25px;
        background: rgba(0, 0, 0, 0.3);
    }
    h1{
        position : absolute;
        color: #FFF;
        font-size: 48px;
        top : 50px;
        left: 273px
    }
}