.gallery{
    border-radius: 25px;
    background: #F6F6F6;
    margin: 43px 100px 50px 100px;
    padding-left: 50px;
    padding-right: 50px;
    display: flex;
    justify-content: center;
    @media (max-width: 1360px) {
        padding-right: 50px;
        }
    @media (max-width: 1029px) {
        background: #FFF;
        margin-bottom: 0px;
        margin-top: 0px;
        }
    &__display{
        max-width: 1240px;
        margin: 0;
        padding: 56px 0px 43px 0px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        row-gap: 50px;
        column-gap: 60px;
        justify-items: center;
        @media (max-width: 1439px) {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            gap: 50px;
        }
        @media (max-width: 1029px) {
            background: #FFF;
            margin-top: 22px;
            padding-top: 0px;
            padding-bottom: 11px;
            gap: 20px;
            }
        &-link{
            width: 340px;
        }
        &-card{
            width: 340px;
            height: 340px;
            list-style-type: none;
            position: relative;
            @media (max-width: 650px) {
                width: 335px;
                height: 255px;
                }
            & img{
                position: relative;
                z-index: 1;
                border-radius: 10px;
                width: 340px;
                height: 340px;
                object-fit: cover;
                @media (max-width: 650px) {
                    width: 335px;
                    height: 255px;
                    }
            }
            &-overlay{
                position: absolute;
                z-index: 2;
                bottom: 0px;
                margin-top: 30px;
                border-radius: 10px;
                width: 340px;
                height: 340px;
                background: linear-gradient(180deg, rgba(255, 255, 255, 0.00) 0%, rgba(0, 0, 0, 0.50) 100%);                display: flex;
                align-items: flex-end;
                @media (max-width: 650px) {
                    width: 335px;
                    height: 255px;
                    }
            }
            h2{
                position : absolute;
                color: #FFF;
                font-size: 18px;
                margin-left: 20px;
                margin-bottom: 20px;
            }          
        }
    }
}
